!!! 5
%html(lang="en-US")
  %head
    %title MYFLIX - a video on demand service
    <link href='http://fonts.googleapis.com/css?family=Roboto|Bangers' rel='stylesheet' type='text/css'>
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    %header
      = render 'shared/header'
    %section.content.clearfix
      = render 'shared/messages'
      = yield


